@mixin flex ($just:center, $dir: row, $align: center ) {
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
}

@mixin decoration_text_none {
    text-decoration: none;
    list-style: none;
}

@mixin decoration_text_inside {
    list-style: inside;
}

@mixin button ($color_text:$thirdColor, $background_color:$secondaryColor, $border_color:$secondaryColor){
    font-size: 24px;
    font-family: overpass;
    color: $color_text;
    border-radius: 30px;
    padding: 10px 40px;
    border: solid $border_color 2px;
    background-color: $background_color;
}

@mixin button_v2 ($color_text:$thirdColor, $background_color: $primaryColor, $border_color:$secondaryColor){
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    color: $color_text;
    border-radius: 4px;
    padding: 1em 3em 1em 3em;
    border: solid $border_color 2px;
    background-color: $background_color;
}

@mixin titre_et_intro {
        @include flex;
        padding: 32px 0px 32px 0px;
        text-transform: uppercase;
        margin-bottom: 10px;
        
        h2 {
            margin-bottom: 10px;
        }

        p {
            text-transform: none;
            font-size: smaller;
            font-weight: lighter
        }
    
}

@mixin h3 {
    font-family: overpass;
    font-weight: bolder;
    text-transform: uppercase;
}

@mixin offers_size {
    height: 322px;
    width: 373px;
}

@mixin blueLine ($width: 30em) {
    background-color: $thirdColor;
    width: $width;
    height: 2px;
    margin-bottom: 6%;
    margin: auto;
    
}