@font-face {
    font-family: "ubuntu";
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "palanquin";
    src: url(/assets/fonts/Palanquin-Regular.ttf);
}

$primaryColor: #464343;
$secondaryColor: #5968f4;
$thirdColor: #f2f2f2;